body{
    background-color: rgb(45, 45, 45);
}

.menu{
    position:relative;
}

span{
    position:absolute;
    bottom:-20px;
    left:0px;
    font-size:10px;
    color:red;

}

form{
    display:flex;
}

input{
    border:none;
    border-bottom:1px solid green;
}

.titulo{
    text-align:center;
    color:white;
    font-size:32pt;
}

.subtitulo{
    text-align:center;
    color:white;
    font-size:16pt;
}

.btn1{
    border:none;
    border-radius:20px;
    padding:14px;
    background-color: rgb(0, 219, 95);
    transition:1s;
    cursor:pointer;
    color:white;
}

.btn1:hover{
    transform:scale(1.2);
}